@media (max-width: 600px) {
    .meu-menu{
      height: 55px;
      width: 100%;
    }
    body {
      height: 100vh;
      background-image: url("campeao.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
    }
    nav {
      flex-wrap: nowrap;
      padding: 15px 5px 15px 5px;
    }
    main {
      margin-top: 70px;
    }
    .meu-menu {
      position: absolute;
    }
}